body{
  margin:0;
  font-family:Arial;
  background: radial-gradient(circle at top, #0b1a3a, #050814);
  color:white;
}
.container{
  max-width:900px;
  margin:80px auto;
  text-align:center;
}
.card{
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(0,170,255,0.3);
  padding:40px;
  border-radius:20px;
  box-shadow:0 0 30px rgba(0,140,255,0.3);
}
.btn{
  display:inline-block;
  margin:10px;
  padding:12px 20px;
  border-radius:10px;
  text-decoration:none;
  color:white;
  background: linear-gradient(90deg, #0077ff, #00c3ff);
}
.key-box{
  background: rgba(0,170,255,0.1);
  border: 1px solid #1aa7ff;
  padding:12px;
  border-radius:10px;
  font-family:monospace;
}
